* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color : #0a192f;
    --project-color: #263346;
}

@font-face {
    src: url('assets/Outfit-Regular.ttf');
    font-family: title-font;
}

@font-face {
    src: url('assets/roboto.ttf');
    font-family: text-font;
}

body {
    background-color: var(--bg-color);
    width: 95vw;
    font-family: text-font;
}

.container {
    padding: 5vw 15vw;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    row-gap: 7vw;
}

.nav {
    grid-area: 1 / 1 / 2 / -1;
    font-family: title-font;
    display: grid;
    align-items: end;
    width: 100%;
    gap: 10px;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.options {
    text-align: right;
    font-size: 1.3vw;
}

#mainTitle {
    font-size: 1.5vw;
    font-weight: 800;
}

#quoteTitle {
    font-family: title-font;
    font-size: 4.5vw;
    font-weight: 800;
    padding-bottom: 3vw;
}

#quoteTitle+p {
    font-size: 1.5vw;
}

.content {
    align-items: center;
    grid-area: 2 / 1 / 3 / -1;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 3vw;
}

.content .img {
    justify-self: center;
    display: flex;
}

.img img {
    margin-left: 7vw;
    align-self: center;
    width: 20vw;
}

.languages {
    grid-area: 3 / 1 / 4 / -1;
    display: flex;
    width: 100%;
    justify-content: center;
}

.lang {
    margin-left: 1.2vw;
    margin-right: 1.2vw;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 2px;
    padding: 1vw;
    width: 8vw;
    justify-content: center;
    text-align: center;
}

.lang p {
    font-family: title-font;
    padding-top: 0.5vw;
    font-size: 1.2vw;   
}

.lang img {
    width: 100%;
}

#cssImg {
    padding: 1.4vw;
}

#htmlImg {
    padding: 0.4vw;
}

#javaImg {
    padding: 0.2vw;
}

.line {
    grid-area: 4 / 1 / 5 / -1;
/*    width: 100%;*/
    display: flex;
    justify-content: center;
}

.border {
    width: 90%;
    border-top: 1px solid white;
}